@font-face {
  font-family: "Inter";
  src: url(../../vendor/Inter/Inter-Black.woff) format('woff');
  src: url(../../vendor/Inter/Inter-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../../vendor/Inter/Inter-Bold.woff) format('woff');
  src: url(../../vendor/Inter/Inter-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../../vendor/Inter/Inter-Regular.woff) format('woff');
  src: url(../../vendor/Inter/Inter-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.page {
  font-family: "Inter";
  background-color:#2A2C2F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-rendering: optimizeLegibility;
}
