.photo-grid {
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 284px));
  gap: 16px;
}

@media screen and (max-width:1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    width: 90.7%;
    gap: 14px;
  }
}

@media screen and (max-width:768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(auto, 352px));
    width: 93.75%;
    gap: 16px;
  }
}

@media screen and (max-width:320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(auto, 288px));
    gap: 12px;
    width: 90%;
  }
}
