.photo-grid {
  max-width: 1184px;
  width: 78%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width:1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(1fr, 300px));
    width: 90.7%;
    gap: 14px;
  }
}

@media screen and (max-width:768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(1fr, 352px));
    width: 93.7%;
    gap: 16px;
  }
}

@media screen and (max-width:320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(1fr, 288px));
    gap: 12px;
    width: 90%;
  }
}
