.intro {
  width: 77%;
}

@media screen and (max-width:1024px) {
  .intro {
    width: 90.7%;
  }
}

@media screen and (max-width:768px) {
  .intro {
    width: 93.7%;
  }
}

@media screen and (max-width:320px) {
  .intro {
    width: 90%;
  }
}
