.page__places {
  margin: 95px auto;
}

@media screen and (max-width:768px) {
  .page__places {
    margin: 90px 0 70px;
  }
}


@media screen and (max-width:320px) {
  .page__places {
    margin: 70px 0 105px;
  }
}
