.lead__caption {
font-family: "Inter";
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */

letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;

align-self: start;
margin: 5px 0 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: 5px 0 0 15px;
  }
}
