.place {
  display: grid;
  grid-template-columns: 46.7% auto;
  grid-template-rows: auto auto;
  gap: 44px 40px;
}

.place + .place {
  margin-top: 85px;
}

@media screen and (max-width:1024px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 40px 32px;
    }
    .place + .place {
      margin-top: 90px;
    }
  }

@media screen and (max-width:768px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 45px 28px;
    }


  .place + .place {
    margin-top: 80px;
  }
}

@media screen and (max-width:626px) {
  .place {
    display: flex;
    flex-direction: column;
    }

    .place:first-of-type {
      margin-bottom: 42px;
    }

    .place + .place {
      margin-top: 55px;
    }}
