.footer {
  max-width: 1184px;
  width: 92.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.7%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.7%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    min-height: 310px;
  }
}
