.page__footer {
  margin: 88px auto 24px auto;
}

@media screen and (max-width: 1024px) {
  .page__footer {
    margin: 93px auto 24px auto;
  }
}

@media screen and (max-width: 768px) {
  .page__footer {
    margin: 85px auto 24px auto;
  }
}


@media screen and (max-width: 320px) {
  .page__footer {
    margin: 64px auto 24px auto;
  }
}
